In [20]:
import pandas as pd
import random

In [2]:
test=pd.read_csv('../../data/test.csv')
label_list=pd.read_csv('../../data/label.csv')

In [25]:
val=[]
val_temp=list(set(list(label_list['File Name']))-set(list(test['FileName'])))

alist=[]                          # 뽑은 a를 넣어 중복 방지해주는 리스트         
for i in range(271):
    a = random.randint(0,len(val_temp)-1)       
    while a in alist :              # a가 이미 뽑은 리스트에 있을 때까지 다시 뽑자
        a = random.randint(0,len(val_temp)-1)
    alist.append(a) # 새로운 a 값을 리스트에 추가
    val.append(val_temp[a])

In [29]:
train=list(set(list(label_list['File Name']))-set(val)-set(list(test['FileName'])))

In [38]:
pd.DataFrame(train,columns=['FileName']).to_csv('../../data/train.csv',index=False)
pd.DataFrame(val,columns=['FileName']).to_csv('../../data/val.csv',index=False)

In [36]:
pd.DataFrame(train,columns=['FileName'])

                     FileName
0     42541341_94_OTEclip.mp4
1     18101432_97_OTEclip.mp4
2     10721522_95_OTEclip.mp4
3     30271301_87_OTEclip.mp4
4        50481481_OTEclip.mp4
...                       ...
2166  19392503_76_OTEclip.mp4
2167  34901451_89_OTEclip.mp4
2168  15701631_91_OTEclip.mp4
2169  15002542_98_OTEclip.mp4
2170  15751393_96_OTEclip.mp4

[2171 rows x 1 columns]