In [1]:
import pandas as pd
from glob import glob
import os

In [3]:
pd.read_csv('../../data/label_data.csv',encoding='cp949')

      구분값     일련번호 OTE 원인
0       1  1998143   클립없음
1       1  1997143      2
2       1  1996169      1
3       1  1992122      2
4       1  1991164      2
...   ...      ...    ...
7464    0  4382119    NaN
7465    0  4383155    NaN
7466    0  4384142    NaN
7467    0  4385154    NaN
7468    0  4386167    NaN

[7469 rows x 3 columns]