In [ ]:
import os
import shutil
import pandas as pd
from glob import glob

In [2]:
label_data=pd.read_csv('../../data/label_data.csv',encoding='CP949')
change_data=pd.read_csv('../../data/change.csv',encoding='CP949')

In [ ]:
change_label=change_data.loc[change_data['Obstruction_new']==1]
change_label=change_label.reset_index()
i=0
ID=change_label.loc[i]['ID']
serial_number=ID

           ID  Obstruction_new  new
0    10141551                1  3.0
1    10151321                1  2.0
2    10171321                1  2.0
3    10191622                1  2.0
4    10202532                1  2.0
..        ...              ...  ...
881  62531702                1  1.0
882  62541381                1  2.0
885  62621483                1  1.0
893  62821522                1  2.0
896  62871312                1  2.0

[219 rows x 3 columns]

In [6]:
serial_number

      구분값     일련번호  OTE 원인
0       1  1997143       2
1       1  1996169       1
2       1  1992122       2
3       1  1991164       2
4       1  1990150       2
...   ...      ...     ...
3285    1  5066149       2
3286    1  5067158       1
3287    1  5069135       2
3288    1  5071134       2
3289    1  5072152       2

[3290 rows x 3 columns]